<div
  class="d-flex justify-content-center align-items-center vh-100 bg-light"
  style="
    background-image: url('/images/bg_image.png');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
<div class="d-flex justify-content-center align-items-center vh-100 vw-100">
  
  <div
    class="card shadow p-4"
    style=" width: 25%; border-radius: 1rem; opacity: 0.9"
  >
      <h3 class="text-center mb-4 text-primary fw-bold">
        Reset Password
      </h3>

      <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="NewPassword"
          [(ngModel)]="newPassword"
          #passwordRef="ngModel"
          required
          pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"
          autocomplete="off"
        />
        <div
          *ngIf="
            passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)
          "
          class="text-danger small mt-1"
        >
          <i class="bi bi-exclamation-circle me-1"></i>
          <span *ngIf="passwordRef.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="passwordRef.errors?.['pattern']">
            Min 8 chars, 1 number & 1 special character required.
          </span>
          </div>
        </div>

        <button
          class="btn btn-warning w-100"
          type="submit"
          [disabled]="loading || resetForm.invalid"
        >
          {{ loading ? 'Resetting...' : 'Reset Password' }}
        </button>

        <div class="text-success mt-3" *ngIf="success">{{ success }}</div>
        <div class="text-danger mt-3" *ngIf="error">{{ error }}</div>
      </form>

      <div class="mt-4 text-center">
        <a routerLink="/login" class="text-decoration-none">
          <i class="bi bi-arrow-left"></i> Back to Login
        </a>
      </div>
    </div>
  </div>
</div>