<div
  class="d-flex justify-content-center align-items-center vh-100 bg-light"
  style="
    background-image: url('/images/bg_image.png');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="d-flex justify-content-center align-items-center vh-100">
  
    <div
      class="card shadow p-4"
      style="max-width: 600px; width: 100%; border-radius: 1rem; opacity: 0.9"
    >
      <h3 class="text-center mb-4 text-primary fw-bold">
        Forgot Password
      </h3>

      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input
            formControlName="email"
            class="form-control"
            type="email"
            placeholder="Enter your email"
            [ngClass]="{
              'is-invalid':
                form.controls['email'].invalid &&
                (form.controls['email'].touched || form.controls['email'].dirty)
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              form.controls['email'].errors &&
              (form.controls['email'].touched || form.controls['email'].dirty)
            "
          >
            <div *ngIf="form.controls['email'].errors['required']">
              Email is required.
            </div>
            <div *ngIf="form.controls['email'].errors['email']">
              Enter a valid email.
            </div>
          </div>
        </div>

        <button
          class="btn btn-warning w-100"
          [disabled]="loading || form.invalid"
        >
          {{ loading ? "Sending..." : "Send Reset Email" }}
        </button>

        <div class="text-success mt-3" *ngIf="success">{{ success }}</div>
        <div class="text-danger mt-3" *ngIf="error">{{ error }}</div>
      </form>

      <div class="mt-4 text-center">
        <a routerLink="/login" class="text-decoration-none">
          <i class="bi bi-arrow-left"></i> Back to Login
        </a>
      </div>
    </div>
  </div>
</div>
