<nav
  class="navbar navbar-expand-lg navbar-light bg-primary shadow-sm sticky-top"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/images/image.png"
        alt="ShopLogo"
        width="110"
        height="100"
        class="d-inline-block align-middle"
        style="object-fit: contain"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavCollapsed = !isNavCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!isNavCollapsed">
      <div class="d-flex flex-grow-1 mx-lg-4 my-2 my-lg-0">
        <div class="input-group search-box">
          <input
            type="text"
            class="form-control"
            placeholder="Search for products..."
            (input)="onSearch($event)"
          />
          <button class="btn btn-light">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="user-actions d-flex align-items-center ms-auto">
        <button class="btn btn-outline-light me-3" routerLink="/profile">
          <i class="fas fa-user-circle me-1"></i> Profile
        </button>

        <button class="btn btn-outline-light me-3" (click)="logout()">
          <i class="fas fa-sign-out-alt me-1"></i> Logout
        </button>

        <button
          class="btn btn-outline-light position-relative"
          routerLink="/cart"
        >
          <i class="fas fa-shopping-cart"></i>
          <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
        </button>
      </div>
    </div>
  </div>
</nav>
