.cursor-pointer {
    cursor: pointer;
  }
  .form-control, .form-select, .input-group-text {
    border-color: #dee2e6;
  }
  .form-control:focus, .form-select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .invalid-feedback {
    display: none;
    font-size: 0.875em;
  }
  .was-validated .form-control:invalid ~ .invalid-feedback,
  .was-validated .form-control:invalid ~ .invalid-tooltip {
    display: block;
  }